<h1><%= @post.name %></h1>

<h3>posts</h3>

<ul>

    <li><%= "#{@post.title}, #{@post.description}, #{@post.posted_on}" %></li>
</ul>


<p><a href="/places/place_id=<%= @place.id %>">Back to <%= @place %></a></p>